# --- Frontend Web ---
# Puerto en el que se expone el frontend
PORT=8080

# URL base de la API backend de CanisCare
API_BASE_URL=http://localhost:8081

# --- Base de Datos PostgreSQL ---
# Puerto para la base de datos local
DB_PORT=5432

# Nombre de la base de datos
DB_NAME=neondb

# Usuario de PostgreSQL
DB_USER=neondb_owner

# Contraseña de PostgreSQL
DB_PASSWORD=npg_5EchUnxOC9Te
